@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h3 {
    font-size: 36px;
    font-weight: 700;
}

.bg-one {
    background-color: #D63447;
}

.bg-two {
    background-color: #F6EEDF;
}

/* Error Message */
.msg-error {
    color: #D63447;
}

/* Button */
.btn-one {
    background-color: #D63447;
    border-color: #b32c3c;
    color: white;
}

/* Navbar */
.navbar a {
    color: white;
    font-weight: 700;
}

/* Footer */
.footer {
    color: white;
    background-color: #F57B51;

    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer-powered {
    font-size: 18px;
    font-weight: 700;
}

.footer-foodo {
    font-size: 48px;
    font-weight: 900;
}

/* Card */
.card .card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card .card-body .card-title {
    font-weight: 700;
}

.card {
    width: 35rem;
    border-radius: 20px;
}

.card h6 {
    font-weight: 700;
}

/* Index Page */
/* Headline Section */
#headline {
    color: white;
    padding-top: 5rem;
    padding-bottom: 8rem;
}

#headline h1 {
    font-weight: 900;
}

#headline h4 {
    font-style: italic;
}

/* Carousel */
.carouselContainer {
    margin-top: -10%;
}

.carouselOfImages {
    position: relative;
    margin: auto;
    overflow: visible;
    width: 100%;
}
  
.carouselImage {
    position: relative;
    height: 220px;

    background-color: #C4C4C4;
    border-radius: 20px;

    margin-right: 33px;
    margin-top: 70px;
    margin-bottom: 50px;

    counter-increment: carousel-cell;
    text-align: center;
    vertical-align: center;
    transition: transform 0.5s;
    font-size: 1.2em;
}

@media only screen and (max-width: 1300px) {
    .carouselImage {
        width: 30%;
    }
}

@media only screen and (max-width: 773px){
    .carouselImage {
        width: 50%;
    }
}

@media only screen and (max-width: 490px){
    .carouselImage {
        width: 50%;
        padding: 15px;
    } 
}

.carouselImage.is-selected {
    border: 1.5px solid #00ADEE;
    color:#00ADEE;
    z-index:10;
    transform: scale(1);
}

.carouselImage.nextToSelectedLeft, .carouselImage.nextToSelectedRight {
    transform: scale(1);
    z-index:5;
}

/* Featured Menus */
.featured-menus-card {
    border-radius: 20px;
    width: 15rem;

    margin-right: 0.75rem;
}

/* Restaurant Details Section */
#restaurant-details {
    border-radius: 20px;
    width: auto;

    margin-left: 10rem;
    margin-right: 10rem;
}

#restaurant-details h1 {
    font-weight: 900;
    font-size: 36px;
}

#restaurant-details #map {
    background-color: #c4c4c4;
    border-radius: 20px;
}

/* Menus Page */
.order-form {
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    padding-right: inherit;
}

.menu-card {
    border-radius: 20px;
    width: 16rem;

    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
    height: 32rem;
}

#cart {
    position: fixed;
    width: 17rem;
    height: 20rem;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#btn-order {
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
}

/* Login Page */
#login-card {
    width: 30rem;
}
