<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" th:href="@{/css/stylesheet.css}">

        <title>Add Menu</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-one">
            <div class="container">
                <a class="navbar-brand" href="/">Logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/menus">Menus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/orders">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="card mt-5 mb-5 mx-auto">
            <div class="card-body">
                <h3 class="text-center">Add Menu</h3>
                <form th:action="@{/admin/menus/menu/add}" method="POST">
                    <div class="form-group">
                        <label for="form-name">Name</label>
                        <input type="text" class="form-control" required name="name" id="form-name">
                    </div>
                    <div class="form-group">
                        <label for="form-description">Description</label>
                        <input type="text" class="form-control" required name="description" maxlength="170" id="form-name">
                    </div>
                    <div class="form-group">
                        <label for="form-price">Price</label>
                        <input type="number" min="0" class="form-control" required name="price" id="form-price">
                    </div>
                    <div class="form-group">
                        <label for="select-catgory">Category</label>
                        <select class="form-control" id="select-category" name="category-id">
                            <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getName()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="form-photo-url">Photo URL</label>
                        <input type="text" class="form-control" required name="photo-url" id="form-photo-url">
                    </div>
                    <button type="submit" class="btn btn-one">Submit</button>
                </form>
            </div>
        </div>

        <div class="footer">
            <div class="footer-powered">Powered By</div>
            <div class="footer-foodo">FoodO</div>
            <p>FoodO is a framework for every restaurant to accelerate the the order system by making it online.</p>
            <p>© Copyright 2020. All rights reserved.</p>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>