<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- Flicikity CSS -->
        <link rel="stylesheet" th:href="@{/css/flickity.css}">

        <!-- Custom CSS -->
        <link rel="stylesheet" th:href="@{/css/stylesheet.css}">

        <title>Restaurant Name</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-one">
            <div class="container">
                <a class="navbar-brand" href="/">Logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/menus">Menus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/orders">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="bg-one text-center" id="headline">
            <h1>Restaurant Name</h1>
            <h4>Restaurant Slogan</h4>
        </div>

        <!-- https://codepen.io/carlosalvarez91/pen/Mowdyv?__cf_chl_jschl_tk__=a44fd9d1570d28a9bf464879391aaf70d178df11-1592234210-0-ASUbl5_fuI5wfCpE6Z78DZrDhC00xrqyAUYukPKlk1wcYB4pW0N7SsxWOhOVI-vfNxi8RGDe2OBeTk1PGx-aZ815AvtsRTDCmpbKhDlDmX_yC0goTnEfH6Gs3DYwGvxrZScR0iGItg_E1vFUDpsc7_J2Vy_H9rcaa9PkZhMlQl3mrSQpsda2FtJfOJCe-VDeEHrd2WsOrbycVzKPbFAT1PlHZyLDJztoXb90b54_euHsMtIi4AdiCWNvQOgr5bFiSAucaDRzwVSLTOZsVUJ_gu6NS7XgUVxgpcV_9wU0qX7zTMSZjBmZ96Co0m-WPIX38CPqoXKPQBe_15mxT5lQ6wbK4D1GcVpg4wF_p4fkkJfp8ROc1YHSYKPn6BpalWuieA -->
        <!-- Max 5 Photos -->
        <div class="carouselContainer">
            <div class="carouselOfImages">
                <div class="carouselImage">Item</div>
                <div class="carouselImage">Item</div>
                <div class="carouselImage">Item</div>
                <div class="carouselImage">Item</div>
                <div class="carouselImage">Item</div>
            </div>
        </div>

        <div class="container mb-5" id="featured-menus">
            <h3>Featured Menus</h3>
            <div class="d-flex flex-wrap mt-3">
                <div class="card featured-menus-card" th:each="featuredMenu : ${featuredMenus}">
                    <img th:src="${featuredMenu.getPhoto().getUrl()}" class="card-img-top" th:alt="${featuredMenu.getPhoto().getName()}">
                    <div class="card-body text-center">
                        <h5 class="card-title" th:text="${featuredMenu.getName()}"></h5>
                    </div>   
                </div>
            </div>
        </div>

        <div class="container mb-5 bg-two" id="restaurant-details">
            <div class="row">
                <div class="col-md">
                    <div class="container ml-3 pb-3 pt-3">
                        <p>Restaurant Logo</p>
                        <h1>Restaurant Name</h1>
                            <div class="row">
                            <div class="col-md">
                                <p>Office</p>
                                <p>Mobile</p>
                            </div>
                            <div class="col-md">
                                <p>245234535</p>
                                <p>24324324</p>
                            </div>
                        </div>
                        <p>Jalan Bonggo Blok A Nomor 26<br>Jakarta Timur 13450<br>Indonesia</p>
                    </div>
                </div>
                <div class="col-md" id="map">
                    <!-- TODO -->
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-powered">Powered By</div>
            <div class="footer-foodo">FoodO</div>
            <p>FoodO is a framework for every restaurant to accelerate the the order system by making it online.</p>
            <p>© Copyright 2020. All rights reserved.</p>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <!-- Flickity's Script -->
        <script th:src="@{/js/flickity.pkgd.min.js}"></script>

        <!-- Carousel's Script -->
        <script th:src="@{/js/carousel.js}"></script>
    </body>
</html>