<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" th:href="@{/css/stylesheet.css}">

        <title>Order - Summary</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-one">
            <div class="container">
                <a class="navbar-brand" href="/">Logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/menus">Menus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/orders">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="card mt-5 mb-5 mx-auto">
            <div class="card-body">
                <h3 class="text-center">Summary</h3>
                <div class="container">
                    <h6>Items</h6>
                </div>
                <div class="container" th:each="orderMenu : ${orderMenus}">
                    <p th:text="${orderMenu.getMenu().getName()} + ' ' + ${orderMenu.getQuantity()} + 'x'"></p>
                </div>
                <div class="container">
                    <h6>Total Price</h6>
                    <p th:text="${totalPrice}"></p>
                    <form th:action="@{/menus/order}" method="POST">
                        <label for="form-table-number"><h6>Table Number</h6></label>
                        <input id="form-table-number" name="table-number" required type="text" class="form-control mb-3" placeholder="Fill in your table number">
                        <label for="form-auth-key"><h6>Authentication Key</h6></label>
                        <input id="form-auth-key" name="auth-key" required type="text" class="form-control mb-3" placeholder="Fill in the authentication key">
                        <small class="form-text mb-3 msg-error" th:text="${error}"></small>
                        <h6 class="mb-3">Payment Method</h6>
                        <div class="row">
                            <div class="col-md">
                                <input class="btn btn-one" id="btn-pay-cash" type="submit" value="Pay with Cash">
                            </div>
                            <div class="col-md">
                                <input class="btn btn-one" id="btn-pay-cash" type="submit" value="Pay with Digital Money" disabled>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-powered">Powered By</div>
            <div class="footer-foodo">FoodO</div>
            <p>FoodO is a framework for every restaurant to accelerate the the order system by making it online.</p>
            <p>© Copyright 2020. All rights reserved.</p>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>