<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" th:href="@{/css/stylesheet.css}">

        <title>Menus</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-one">
            <div class="container">
                <a class="navbar-brand" href="/">Logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/menus">Menus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/orders">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container mt-5 mb-5" th:each="category : ${categories}">
            <div class="row">
                <div class="col-md">
                    <h3 th:text="${category.getName()}"></h3>
                    <div class="d-flex flex-wrap">
                        <div class="card menu-card" th:each="menu : ${category.getMenus()}">
                            <img th:src="@{${menu.getPhoto().getUrl()}}" class="card-img-top" th:alt="${menu.getPhoto().getName()}">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${menu.getName()}"></h5>
                                <p class="card-text" th:text="${menu.getDescription()}"></p>
                                <div class="order-form">
                                    <form th:action="@{/menus/add}" method="POST">
                                        <input name="menu-id" type="hidden" th:value="${menu.getId()}">
                                        <div class="row">
                                            <div class="col-md">
                                                <input name="quantity" type="number" min="1" required class="form-control" placeholder="Qty">
                                            </div>
                                            <div class="col-md">
                                                <input class="btn btn-one" type="submit" value="Add">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" id="cart">
                        <div class="card-body">
                            <h3 class="text-center">Cart</h3>
                            <div class="row align-items-center mb-2" th:each="orderMenu : ${orderMenus}">
                                <div class="col-md-7">
                                    <div th:text="${orderMenu.getMenu().getName()} + ' ' + ${orderMenu.getQuantity()} + 'x'"></div>
                                </div>
                                <div class="col-md-5 text-right">
                                    <form th:action="@{/menus/delete}" method="POST">
                                        <input name="order-menu-id" type="hidden" th:value="${orderMenu.getId()}">
                                        <input class="btn btn-danger" type="submit" value="Delete">
                                    </form>
                                </div>
                            </div>
                            <a class="btn btn-one" id="btn-order" th:href="@{/menus/summary}" role="button">Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-powered">Powered By</div>
            <div class="footer-foodo">FoodO</div>
            <p>FoodO is a framework for every restaurant to accelerate the the order system by making it online.</p>
            <p>© Copyright 2020. All rights reserved.</p>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>